body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: aliceblue;
    color: black;
    padding: 1rem;
}

main{
    display: flex;
    flex-grow: 1;
}

article > p{
    display: flex;
    padding: 2rem;
}

aside{
    flex: 1rem;
    padding: 1rem;
}

img{
    max-width: 30vw;
    padding: 1;
}

